.background {
    width: 1470px;
    height: 680px;
    color:black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(Background.jpg);
    background-size: cover;
}

.contents {
    width: 600px;
    height: 30px;
    border: 20px solid rgb(51, 255, 0);
    padding: 20px;
    background-color: white;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}

.admin {
    color: green;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    position: relative;
    font-size: 300%;
    top: -50px;
}

.admingrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));;
    gap: 50px;
    justify-items: center;
    padding: 20px;
    margin-top: -50px;
}

.adminlist{
    background-color: rgba(255, 0, 144, 0.76);
    text-align: center;
    padding: 20px;
    width: 100%;
}

.adminlist img {
    
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

.adminlist h1 {
    font-size: 30 px;
    color: black;
    margin-top: 15px;
}

.adminlist p {
    color: black;
    margin-bottom: 20px;
}

.copyrights{
    width: 1510px;
    height: 20px;
    background-color: rgb(129, 131, 209);
    text-align: center;
    top: -30px;
    left: -20px;
    position: relative;
}