.background {
    width: 1470px;
    height: 680px;
    color:black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(BACKPIC.PNG);
    background-size: cover;
}

.contents {
    width: 600px;
    height: 30px;
    border: 20px solid rgb(51, 255, 0);
    padding: 20px;
    background-color: white;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}
.contact {
    color: red;
    font-family: Verdana;
    text-align: left;
    position: relative;
    font-size: 300%;
    top: -50px;
}

.info {
    color: white;
    font-family: Times New Roman;
    position: relative;
    top: -70px;
    left: 50;
}

.copyrights{
    width: 1510px;
    height: 20px;
    background-color: rgb(129, 131, 209);
    text-align: center;
    top: -80px;
    left: -20px;
    position: relative;
}