.background {
    width: 1470px;
    height: 680px;
    color:black;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-image: url(BACKPIC.PNG);
    background-size: cover;
}

.contents {
    width: 600px;
    height: 30px;
    border: 20px solid aquamarine;
    padding: 20px;
    background-color: white;
    text-align: center;
    top: 5px;
    left: 900px;
    position: relative;
    word-spacing: 70px;
}

.restname {
    color: rgb(66, 54, 161);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    position: relative;
    font-size: 350%;
    top: -50px;
}

.line {
    color: sandybrown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    position: relative;
    font-size: 275%;
    top: -120px;
    left: 10px;
}

.lines {
    color: greenyellow;
    font-family: Verdana;
    text-align: center;
    position: relative;
    font-size: 150%;
    top: -100px;
}

.image1 {
    position: relative;
    top: -90px;
    left: 100px;
    background-size:contain;
}

.image2 {
    position: relative;
    top: -390px;
    left: 800px;
    background-size:contain;
}

.copyrights{
    width: 1510px;
    height: 20px;
    background-color: rgb(129, 131, 209);
    text-align: center;
    top: -330px;
    left: -20px;
    position: relative;
}